/*CSS Document*/
.header {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    width: 100%;
}

.bark {
    color:  #f9faf8;
    font-size: 24px;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 18px;
    list-style-type: none;
}

.nav a {
    text-decoration: none;
    color: #e5e7eb;
}

.content {
    display: flex;
    background-color: #1f2937;
    justify-content: space-around;
}

.signup-box {
    margin-left: 2em;
}

.signup-box-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    background-color: #1f2937;
}

#gdog {
    width: 80%;
}

.signup-box-button {
    background-color: #3882f6;
    border-radius: 5px;
    width: 30%;
}

.signup-box-button:hover {
    background-color: #2f6df1;
}

.doggo-text {
    color: #f9faf8;
    font-size: 24px;
    margin-left: 48px;
    font-weight: bold;
}

.text-box {
    color: #e5e7eb;
    font-size: 18px;
}